<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= analytics_init if Rails.env.production? %>    
     <title><%= content_for?(:title) ? yield(:title) : "Hack Facebook" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-debug.js' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>